body {
    margin: 0 !important;
}

.main-container {
    font-family: 'Open Sans', sans-serif;


    display: grid;
    grid-template-columns: 325px auto;
}


.applicant-list,
.applicant-details {
    max-height: 800px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.applicant-list {
    padding: 15px 30px;
    background-color: #013679;
    color: #e5e5e5;
}

.applicant-list .applicant {
    background-color: #eaeaea;
    color: #18181a;
    margin: 15px 0;
    margin-bottom: 0;
    padding: 12px 15px;
    font-size: 0.9rem;
}

.applicant-list .applicant:hover {
    color: #013679;
    background-color: #f4f4f4;
    font-weight: bold;
}

.applicant-list .applicant.selected {
    color: #013679;
    background-color: #d9d9d9;
    font-weight: bold;
}

.applicant-details .placeholder {
    text-align: center;
    font-size: 1.5rem;
}

.applicant-details .placeholder img {
    width: 400px;
    margin-top: 200px;
}

.applicant-details {
    padding: 15px 10%;
}

.applicant-details .info img {
    display: block;
    object-fit: cover;
    width:180px;
    height:180px;

    border-radius: 50%;
    border: 5px solid #013679;

    margin: 10px auto;
}

.applicant-details .info .name {
    color: #013679;
    text-align: center;
    margin-bottom: 10px;
}

.applicant-details .info .program {
    font-weight: 300;
    text-align: center;
    margin: 0;
}

.applicant-details .info h4 {
    margin-top: 45px;
    margin-bottom: 5px;
    font-weight: bold;
    color: #013679;
}

.applicant-details .info h6 {
    margin: 0;
    font-size: 0.8rem;
    margin-bottom: 25px;
    font-weight: 300;
    color: #727272;
}

.applicant-details .info .motivation, .details {
    font-size: 0.9rem;
}

@media screen and (max-width: 700px) {
    body {
        font-size: 12px;
    }
    
    .main-container {
        grid-template-columns: 100%;
        grid-template-rows: 250px;
    }

    .applicant-list {
        max-height: 250px;
    }

    .applicant-details {
        padding: 10% 8%;
    }

    .applicant-details .placeholder img {
        width: 250px;
        margin-top: 110px;
    }

    .applicant-details .placeholder {
        font-size: 1rem;
    }
}
    